#black,#build2,#container {
    position: fixed;
    width: 100%
}

#build2,* {
    padding: 0
}

#headfoot,#page-cont,#secondtab {
    position: absolute
}

#arrow:hover,.button:hover {
    cursor: pointer
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_thin-webfont.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_italic-webfont.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_regular-webfont.ttf);
    font-weight: 700;
    font-style: normal
}

* {
    margin: 0;
    font-family: adelle
}

.m-hidden {
    display: none
}

.b-hidden {
    display: inline
}

#arrow,#background,#contact-page,#home-page,#name,#page-cont,#research-page,#teaching-page {
    display: none
}

#black {
    height: 100%;
    background: #000;
    opacity: .5
}

#container {
    height: 100%;
    top: 0;
    background: #f5f0f5;
}

#headfoot {
    width: 100%;
    height: 20%;
    opacity: 1;
    top: 0
}

#attop {
    opacity: 1;
    text-transform: uppercase;
    text-align: center
}

#build2 {
    height: 10%;
    opacity: .8;
    font-size: 50%;
    color: #000;
    top: 5%
}

#build2>span {
    font-size: 80%;
    color: red
}

#secondtab {
    width: 100%;
    height: 80%;
    top: 20%
}

#page-cont {
    width: 90%;
    top: 2%;
    height: 85%;
    left: 5%;
    perspective: 1200px;
    overflow: hidden;
}

#page-cont-inner {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85%;
    padding-right: 20px;
    font-size: 20%
}

.page {
    position: relative;
    width: 100%;
    left: 0
}

.page-int-cont {
    position: absolute;
    width: 90%;
    left: 5%
}

#button-holder {
    position: fixed;
    width: 90%;
    top: 15%;
    height: 80%;
    left: 5%
}

.button,.icon,.teaching-subpage {
    position: absolute
}

.button {
    display: table;
    width: 90%;
    height: 18%;
    left: 5%;
    font-size: 40%;
    text-align: center;
    border-radius: 15px 15px 15px 0;
}

#back,.newabs {
    display: none;
    border: 3px solid black;
}

.clicked:hover {
    cursor: default;
    background: #c4c9fd
}

.exit:hover,.newtsp:hover,.openpdf:hover {
    cursor: pointer
}

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center,center;
    left: 10%;
    width: 15%;
    height: 100%
}

#homei {
    background-image: url(icon/home.png)
}

#researchi {
    background-image: url(icon/light.png)
}

#teachingi {
    background-image: url(icon/teaching.png)
}

#contacti {
    background-image: url(icon/contact.png)
}

.backi {
    background-image: url(icon/back.png);
    left: 25%
}

#home {
    top: 10%;
    color: 5786A4;
}

#research {
    top: 30%;
    color: 51828D;
}

#teaching {
    top: 50%;
    color: 56A4A2;
}

#contact {
    top: 70%;
    color: 519A87;
}

#back {
    top: 85%;
    height: 10%;
    z-index: +2;
    border-radius: 15px 15px 0
}

.centertext {
    width: 85%;
    left: 10%;
    display: table-cell;
    vertical-align: middle
}

#tsp2-page,.gone {
    display: none
}

a {
    color: #000;
    text-decoration: none
}

.teaching-subpage {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.cv {
    font-weight: 700
}

.heading {
    text-align: center;
    color: 51828D;
    font-size: 120%;
}

.border-for-open{
	display: none;
}


#moretextarrows {
    display: none;
    position: fixed;
    top: 81%;
    height: 7%;
    width: 100%;
    background: url(arrow.png) no-repeat;
    background-position: 50%,100%;
    background-size: contain;
    z-index: +1
}
