:root{
    --bg:  #f9f4f4;
    --bg2: #ffffff;
    --acc: #f0e4e4 ;
    --acc2:#851e3e;
    --font: #451e3e ;
    --font2: #134074;
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_thin-webfont.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_italic-webfont.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_regular-webfont.ttf);
    font-weight: 700;
    font-style: normal
}

* {
    padding: 0;
    margin: 0;
    font-family: adelle;
}

a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

#header{
    background-color: var(--acc);
    color: var(--font2);
    position: fixed;
    width: 100%;
    top: 0;
    height: 120px;
    padding: 15px 0 15px 0;
    border-bottom: 2px solid var(--font);
    z-index: 2
}

#nav {
  width: 100%;
  display: flex;
}

#name{
    text-align: center;
    letter-spacing: .5rem;
    font-size: 50px;
}

.jumpto {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
/*   border: 1px solid var(--acc); /* Optional: Add a border for visual separation */ */
}

.icon{
    transform: translateY(3px);
    height: 20px;
    stroke: var(--acc2);
    margin-right: 3px;
}
#homei,#tunesi,#teacingi,#absi, #suppi, #bibi{
    fill: var(--acc2);
}

#nav_tunes{
    letter-spacing: .1em
}


#cont{
    color: var(--font);
    background-color: var(--bg);
    padding-top: 1px;
}

.page{
    padding: 130px 100px 30px 100px;
    min-height: calc(100vh - 180px);
}


#home {
  display: flex;
}

#left {
  padding-top: 170px;
  flex: 2; /* Adjust the ratio to make the left side larger */
  padding-right: 50px; /* Add padding for better spacing */
}

#right {
  padding-top: 150px;
  flex: 1;
}

#homepic{
    width: 200px;
    height: 200px;
    background-image: url(IMG/piermont_2.jpg);
    background-size: cover;
    border-radius: 50%;
    
}

.sticky_title{
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    position: sticky; top: 150px;
    padding: 20px 0px 10px 0px;
    border-bottom: 1px solid var(--font2);
    z-index: 1

}

#research, #research .sticky_title{
    background-color: var(--bg2)
}

#contact, #contact .sticky_title{
    background-color: var(--bg)
}

.paper{
    margin-bottom: 25px;
    font-size: 18px;
    background-color: var(--bg);
    border-radius: 5px;
    padding: 10px;
}


.paper_buts{
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    border-top: 1px solid;
    padding-bottom: 15px;
    padding-top: 10px;
    border-image: linear-gradient(to right, var(--font) 30%, transparent 10%) 100% 1;
}

.paper_buts .icon{
    height: 25px;
    width: 25px;
}

.paper_buts span, .paper_buts a{
    cursor: pointer;
    background-color: var(--bg2);
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    color: var(--font2);
    border: 1px solid var(--acc2);
    margin-right: 20px;
}

.paper_abs_text{
    display: none;
}


.hidden{
    display: none;
}

a.social{
    background-color: var(--bg2);
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    color: var(--font2);
    border: 1px solid var(--acc2);
    margin-right: 10px;
}

.social .icon{
    fill: var(--acc2)
}

#socials {
      display: flex;
      justify-content: space-around;
    }

#github{
    height: 18px;
}

#linkedin{
    stroke: var(--acc2);
}

  #flash-message {
      display: none;
      position: fixed;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      border-radius: 5px;
      background-color: var(--acc);
      border: 3px solid var(--font2);
      color: var(--acc2);
      font-size: 30px;
      z-index: 10;
    }

/* tunes */

#wrapfortunes{
    font-size: 24px;
}

.hl{
    color: #1f99fe;
    background-color: ffdbc9;
    padding: 3px;
    border-radius: 15px;
}

.hl2{
    color: #c733ff;
}

.delimit{
    color: 1f99fe;
}

@media only screen and (max-width: 768px) {
    
    #name{
        font-size: 25px;
    }
    
    #right{
        display: none;
    }
    
    #header{
        height: 80px;
    }
    
    .sticky_title{
    position: sticky; 
    top: 100px;
    font-size: 20px;
    }
        
    .page{
    padding: 70px 20px 20px 20px;
    min-height: calc(100vh - 110px);
        }
    
    
    .paper{
    margin-bottom: 25px;
    font-size: 12px;
}
    
   .paper_buts .icon{
    height: 18px;
    width: 18px;
}
    
  .paper_buts{
    margin-top: 5px;
    margin-left: -5px;
    padding-left: 0px;
    padding-bottom: 15px;
    padding-top: 5px;
}
    
    .paper_buts span, .paper_buts a{
    padding: 3px 7px 3px 2px;
    border-radius: 10px;
    color: var(--font2);
    border: 1px solid var(--acc2);
    margin-right: 6px;
}
    
    
    .social{
        margin-top: 15px;
        text-align: center;
        width: 100px;
    }
    
    #socials{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}