:root{
     --off: 15px;
}

#background,#container {
    position: fixed;
    top: 0;
    width: 100%
}

#arrow:hover,.button:hover,.exit:hover,.newabs:hover,.newtsp:hover,.openpdf:hover {
    cursor: pointer
}

#build2,#headfoot,#page-cont,#secondtab {
    position: absolute
}

#page-cont,.page {
    width: 100%;
    left: 0
}

#attop,.button {
    text-transform: uppercase
}

.cv,.exit {
    font-weight: 700
}

#pdfwindow,.exit,.exitpdf {
    z-index: +5
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_thin-webfont.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_italic-webfont.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: adelle;
    src: url(adelle/adelle_regular-webfont.ttf);
    font-weight: 700;
    font-style: normal
}

* {
    padding: 0;
    margin: 0;
    font-family: adelle
}

#background {
    height: 10%;
    background-image: url();
    background-position: 100%,100%;
    background-repeat: no-repeat;
    background-size: cover
}

#background-shading {
    position: relative;
    width: 100%;
    height: 100%
}

#container {
    height: 100%
}

#headfoot {
    width: 100%;
    height: 100px;
    background: #f5f0f5;
    overflow: hidden;
    opacity: 1;
    top: 0
}

#build2 {
    padding-left: 5%;
    width: 100%;
    height: 100%;
    opacity: 1;
    font-size: 95%;
    color: #000;
    top: 0;
    box-shadow: 0 1px 3px 0 rgba(10,10,10,1)
}

#build2>span {
    font-size: 80%;
    color: red
}

#page-cont {
    font-size: 40%;
    height: 100%;
    top: 0;
    overflow: hidden
}

#page-cont-inner {
    width: 100%;
    overflow-y: auto;
    height: 100%
}

.page {
    min-height: calc(100% - 100px - var(--off));
    background: #fcfdfc;
    box-shadow: 0 2px 5px 0 rgba(10,10,10,1);
    margin-top: calc(100px + var(--off));
}

#homepic,.icon {
    background-repeat: no-repeat;
    border-radius: 50%
}


.page-int-cont {
    position: relative;
    text-align: justify;
    width: 70%;
    left: 15%;
    padding-bottom: 40px;
    padding-top: 40px;
}

#hometext {
    margin-top: 50px;
    width: 70%
}

#homepic {
    position: absolute;
    width: 18vw;
    height: 18vw;
    top: 100px;
    left: 75%;
    background-image: url(IMG/piermont_2.jpg);
    background-size: cover;
    background-position: right,top
}

#homepic:hover:after {
    content: "arrest this man,\ahe talks in maths";
    white-space: pre;
    position: absolute;
    width: 18vw;
    height: 60%;
    padding-top: 40%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5)
}


.border-for-paper {
    border-bottom: black 1px solid;
    padding-bottom: 2px;
}

.border-for-open {
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.paper-open {
    width: 60%;
    position: relative;
    left: 40%;
    text-align: right;
    font-size: 85%;
    border-bottom: black 1px solid;
    line-height: 25px;
}

#button-holder,.icon,.pdf {
    position: absolute
}

.bull:before,.ctx:before {
    content: "\21E4"
}

#button-holder {
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.button,.icon {
    width: 20%
}

.button {
    text-align: left;
    font-size: 40%;
    padding: 20px;
    white-space: nowrap;
    margin-left: 15px;
}

.clicked>.centertext {
    color: 516E9A
}

#footer,a {
    color: #000
}

.icon {
    background-size: contain;
    background-position: center,center;
    height: 30%;
    transform: translateX(calc(-50% - 15px))
}

#homei {
    background-image: url(icon/home.png)
}

#researchi {
    background-image: url(icon/light.png)
}

#teachingi {
    background-image: url(icon/teaching.png)
}

#contacti {
    background-image: url(icon/contact.png)
}

#elltwoi {
    background-image: url(icon/elltwo.png)
}


#musici {
    background-image: url(icon/music.png)
}


.centertext,.ctx {
    width: 85%;
    left: 10%;
    display: table-cell;
    vertical-align: middle
}

.ctx {
    font-size: 200%
}

#pdfwindow,#tsp2-page,.abs-page,.b-hidden,.gone,.absx {
    display: none
}

.exit>.centertext {
    visibility: visible
}

.pdf {
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: scroll
}

.exit {
    margin-top: 30px;
    height: 8%;
    width: 40%;
    left: 30%
}

.exitpdf {
    margin-top: 0;
    height: 10%;
    width: 100%;
    left: 0;
    top: 90%;
    background: #51828d;
    border-top: #000 solid 2px
}

.clipicon,.pdficon,.absicon,.ellicon {
    background-position: 5px,50%;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.abs-page {
    font-size: 65%;
    text-align: justify
}

a {
    text-decoration: none
}

#footer {
    position: fixed;
    bottom: -10%;
    font-size: 20%;
    left: 15%;
    opacity: 1
}

.heading {
    text-align: center;
    font-size: 130%
}

.pdficon {
    background-image: url(icon/paper.png)
}

.clipicon {
    background-image: url(icon/paperclip.png)
}

.absicon {
    background-image: url(icon/compass.png);
}

.ellicon {
    background-image: url(icon/elltwo.png);
}

#wrapfortunes {
    font-size: 60%;
}

.hl {
    color: E870BA;
}

.hl2 {
    color: 3DA4FF;
}

.paper-cont{
    font-size: 80%;
}
